OPENAI_API_KEY= your_openai_api_key
TOGETHERAI_API_KEY= your_togetherai_api_key
METADATA_FILE = original_fixation_transcript_label_missed.json
DATA_FILE = original_fixation_transcript_simulated_error_data.json